{% extends 'base.html' %}

{% block title%}post details{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    
<h1>{{object.Title}}</h1>
<p>{{object.Content}}</p>
<p>{{object.DatePosted}}</p>
<p>Author Name : {{object.Author}}</p>
    {% if object.Author == user %}
        <a href="{% url 'post-update' object.id%}"><button class="btn btn-primary">update</button></a>
        <a href="{% url 'post-delete' object.id%}"><button class="btn btn-danger">delete</button></a>

    {% endif %}

        
<a href="{% url 'home' %}"><button class="btn btn-success">Back to home</button></a>
    

{% endblock content %}
