{% extends 'base.html' %}

{% block title%}profile{% endblock %}
{%load crispy_forms_tags%}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.profile_image.url }} " alt="">
                <div class="media-body ">
                    <h1 class="account-heading">{{user.username}}</h1>
                    <p class="text-secondary">{{user.email}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        
    </div>
</div>




{% endblock content %}